.nav{
    min-width: 180px;
    height: calc(100vh);
    background:#001529;
}
.main{
    background-color: #eee;
    .main-content{
       min-height: 580px;
       margin: 20px 20px;
       background:#fff;
    }
}
div.ant-card{
    margin: 20px 0 0 30px;
    min-width: 800px;
}