.nav{
    min-width: 180px;
    height: calc(100vh);
    background:#001529;
}
.main{
    background-color: #eee;
     overflow: auto;
    .main-content{
       min-height: 580px;
       margin: 20px 20px;
       background:#fff;
    }
}
div.ant-card{
    margin: 20px 0 0 30px;
    min-width: 800px;
}
.ajaxLoad{
    position: absolute;
    left:50%;
    top:50%;
    z-index: 2;
    display: none;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 80px;
    background:#001527;
    color:#fff;
    text-align: center;
    line-height: 80px;
    border-radius:2px;
}